In [43]:
"""
Q1> Create a time table using data.csv.
Method 1
"""
import pandas as pd
df=pd.read_csv('data1.csv',names=['Day','Period','Class'])
df2=df.pivot(index='Period',columns='Day',values='Class')
df3=df2.sort_values(by ='Period', ascending = 1) 
df3.columns = df3.columns.str[1:]
print(df3)

Day    Mon Tue Wed Thur Fri
Period
1       C1  C2  C3   C4  C5
2       C2  C3  C4   C5  C1
3       C3  C4  C5   C1  C2
4       C4  C5  C1   C2  C3
5       C5  C1  C2   C3  C4

In [51]:
"""
Q1> Create a time table using data.csv. 
Method 2
"""
import pandas as pd
df=pd.read_csv('data11.csv',names=['Day','Period','Class'])
df2=df.pivot(index='Day',columns='Period',values='Class')
df3=df2.reindex(['Mon','Tue','Wed','Thur','Fri'])
print(df3)

Period   1   2   3   4   5
Day
Mon     C1  C2  C3  C4  C5
Tue     C2  C3  C4  C5  C1
Wed     C3  C4  C5  C1  C2
Thur    C4  C5  C1  C2  C3
Fri     C5  C1  C2  C3  C4

In [157]:
"""
Q1> Create a time table using data.csv. 
Method 3 (accepted by sir)
"""
import pandas as pd
import numpy as np
colnames=['day','period','subject']
df=pd.read_csv('data11.csv',names=colnames)
df=df.sort_values(by=['day','period'])
days=df['day'].unique().tolist()
periods=df['period'].unique().tolist()
subjects=df['subject'].values.tolist()
subjects=np.asarray(subjects)
subjects=subjects.reshape(len(days),len(periods))
df2=pd.DataFrame(subjects,index=days,columns=periods)
df3=df2.reindex(['Mon','Tue','Wed','Thur','Fri'])
print(df3)

       1   2   3   4   5
Mon   C1  C2  C3  C4  C5
Tue   C2  C3  C4  C5  C1
Wed   C3  C4  C5  C1  C2
Thur  C4  C5  C1  C2  C3
Fri   C5  C1  C2  C3  C4

In [134]:
"""
Q2>  Top 3 employees in every department
"""
import pandas as pd
df=pd.read_csv('data2.csv',names=['Name','Department','Salary','Designation','Supervisor'])
df2=df.sort_values(by=['Department','Salary'],ascending = [False,False])
df3=df2.groupby('Department').head(2).sort_values(by='Department').set_index('Department')
print(df3)

            Name  Salary Designation Supervisor
Department
Dep1        Emp1   25000     Manager        NaN
Dep1        Emp3   20000       Clerk       Emp1
Dep2        Emp2   30000     Manager        NaN
Dep2        Emp6    3000       Clerk       Emp2

In [158]:
"""
Q3> Emp and their sub-employees...recursively
"""

import pandas as pd
df=pd.read_csv('data2.csv',names=['Name','Department','Salary','Designation','Supervisor'])
man_df=df.loc[df['Designation'] == 'Manager']
man_name=np.asarray(man_df['Name'])
def fun(x, rank):
    if(x in np.asarray(df['Supervisor'])):
        df2=df.loc[df['Supervisor']==x]
        df3=np.asarray(df2['Name'])
        tabs = ' '
        rank+=1
        for z in range(0,rank):
            tabs = tabs + '\t'
        for i in range(0,len(df3)):
            print(tabs,df3[i],' ')
            fun(df3[i], rank)
            
for j in range(0,len(man_name)):
    print('\n',man_name[j])
    fun(man_name[j], 0)

 Emp1
 	 Emp3
 		 Emp5
 	 Emp4

 Emp2
 	 Emp6

In [28]:
"""
Q4> Finding cyclic relations 
"""
import pandas as pd
import numpy as np
df=pd.read_csv('data3.csv',names=['col1','col2'])
global visited = []
def fun(y):
    print(y)
    if(y not in visited):
        print('iff')
        visited+=y
        len+=1
        if(y in np.asarray(df['col1'])):
            loc=df[df['col1']==y]
            loc1=np.asarray(loc['col2'])
            loc2=loc1[0]
            fun(loc2)
        else:
            return 'no'
    else:
        return y
for item in np.asarray(df['col1']):
    item1=df[df['col1']==item]
    item2=np.asarray(item1['col1'])
    item3=item2[0]
    print(item3)
    if(fun(item3)==item3):
        print('wow')
        break
print(visited)
print(df)

SyntaxError: invalid syntax (<ipython-input-28-ceafcfc5b9f4>, line 7)