In [0]:
import tensorflow.compat.v1 as tf
tf.disable_eager_execution()
import numpy as np

In [6]:
#fibonacci-series 
a = tf.Variable(1,tf.int32)
b = tf.Variable(1,tf.int32)
temp = tf.Variable(1,tf.int32)

assign1 = tf.assign(temp,a)
assign2 = tf.assign(a,b)
assign3 = tf.assign(b,temp+b)

with tf.Session() as sess:
    sess.run(tf.initialize_all_variables())
    print(a.eval())
    print(b.eval())
    for i in range(0,10):
        print(sess.run(assign1))
        print(sess.run(assign2))
        print(sess.run(assign3))

1
1
1
1
2
1
2
3
2
3
5
3
5
8
5
8
13
8
13
21
13
21
34
21
34
55
34
55
89
55
89
144